{% extends 'base.html.twig' %}

{% block title %}Nous contacter - La Boutique Française
{% endblock %}

{% block content %}
    <h2>Nous Contacter</h2>
    <p>Besoin d'aide! N'hésitez à nous contacter nous vous répondrons dans les meilleurs délais</p>
    {% for message in app.flashes('notice') %}
				<div class="alert alert-info">{{ message }}</div>
	{% endfor %}
	<div class="row">
        <div class="col-md-8"> {{ form(form) }} </div>
        <div class="col-md-4"> 
            <strong>la Boutique ftrançaise</strong>
            <hr>
            06-06-06-07-08 <br>
            19 rue des Écoles <br>
            59100 Roubaix <br>
            contact@laboutiquefrançaise.fr
            
        </div>
    </div>
{% endblock %}
